{{#if comments}}
    <div class='row d-flex'>
        {{#each comments}}
            <div class='col-12 col-lg-6'>
                <div class='card'>
                    <div class='card-body'>
                        <h5 class='card-title mb-3'>{{this.author}}</h5>
                        <h6 class='card-subtitle mb-3 text-muted'>
                            Дата создания:
                            {{this.date}}
                        </h6>
                        <p class='card-text mb-3'>{{this.text}}</p>
                    </div>

                    <div class="card-body">
                        <h6 class='card-title mb-3'>Комментарии</h6>
                        {{#if this.comments}}
                            {{#each this.comments}}
                                <div class="comment-item mb-3 ">
                                    <h6 class='card-subtitle mb-3 text-muted'>
                                        Автор:
                                        {{author}}
                                    </h6>
                                    <h6 class="card-subtitle mb-3 text-muted"> Дата создания: {{date}}</h6>
                                    <p class="card-text mb-3 text-muted">{{text}}</p>

                                </div>
                            {{/each}}
                        {{else}}
                            <p>Комментариев нет</p>
                        {{/if}}
                    </div>


                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <h1>Список комментариев пуст!</h1>
{{/if}}